<% content_for(:title) { "Crunchy Nut Corn Snake" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="meal" data-view="Meal" data-title="Feeds"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="length" data-view="Length" data-title="Length"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="picture" data-view="Image" data-title="Latest photo"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="shed" data-view="Shed" data-title="Shed"></div>
    </li>
  </ul>
</div>
